@model MaxFactry.Module.Catalog.PresentationLayer.MaxCartViewModel
@if (Model.ItemList.Count == 0)
{
    <div class="ussCart" id="udCartEmpty">
        <div class="col-xs-12 text-center">Item Total (0 items): $0.00</div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-9">Items</div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs text-right">Price</div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 text-center">Qty</div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs text-right">Total</div>

            <div class="clearfix"></div>
            <hr class="ussItemDivider" />
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                <img class="ussItemImage" src="//az851879.vo.msecnd.net/ct/MaxCart/CartImage.gif" alt="Empty Cart Item">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                <div class="ussName">The Cart is currently empty</div>
                <div class="ussDescription">

                </div>
                <div class="visible-xs"><span class="ussItemPriceLabel">Price:</span><span class="ussItemPrice">$0.00</span></div>
                <div class="visible-xs"><span class="ussItemTotalLabel">Total:</span><span class="ussItemTotal">$0.00</span></div>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 hidden-xs text-right"><span class="ussItemPrice">$0.00</span></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 text-center">
                <div class="text-center">0</div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs text-right"><span class="ussItemTotal">$0.00</span></div>
        


        <div class="clearfix"></div>
        <hr class="ussItemDivider" />
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
            &nbsp;
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
            <div class="ussName">Shipping</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 text-right"><span class="ussItemTotal">@Model.ShippingTotal</span></div>


        <div class="clearfix"></div>
        <hr class="ussItemDivider" />
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 text-right">Total</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 text-right">@Model.Total</div>
    </div>
}
else
{
    <div class="ussCart" id="udCart">
        <div class="col-xs-12 text-center">Item Total (@Model.ItemList.Count items): @Model.ItemTotal</div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-9">Items</div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs text-right">Price</div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 text-center">Qty</div>
        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs text-right">Total</div>

        @foreach (var loItemView in Model.ItemList)
        {
            <div class="clearfix"></div>
            <hr class="ussItemDivider" />
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                @if (!string.IsNullOrEmpty(loItemView.ImageUrl))
                {
                    string lsImageUrl = loItemView.ImageUrl;
                    if (loItemView.ImageUrl.ToLower().StartsWith("http://"))
                    {
                        lsImageUrl = lsImageUrl.Substring(5);
                    }
                    <img class="ussItemImage" src="@lsImageUrl" alt="@loItemView.Name">
                }
                else
                {
                    <img class="ussItemImage" src="//az851879.vo.msecnd.net/ct/MaxCart/CartImage.gif" alt="@loItemView.Name">
                }
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                <div class="ussName">@loItemView.Name</div>
                <div class="ussDescription">
                    <div><span class="ussSkuLabel">SKU: </span><span class="ussSku">@loItemView.Sku</span></div>
                    @for (int lnO = 0; lnO < loItemView.OptionList.Count; lnO++)
                    {
                        <div>
                            <span class="ussOptionLabel">@loItemView.OptionList[lnO].Name: </span><span class="ussOption">@loItemView.OptionList[lnO].Option</span>
                            @if (loItemView.OptionList[lnO].AdditionalPrice > 0)
                            {
                                <span class="ussOptionAdditionalPrice">(adds @String.Format("{0:C}", loItemView.OptionList[lnO].AdditionalPrice))</span>
                            }
                        </div>
                    }
                </div>
                <div class="visible-xs"><span class="ussItemPriceLabel">Price:</span><span class="ussItemPrice">@loItemView.ItemPrice</span></div>
                <div class="visible-xs"><span class="ussItemTotalLabel">Total:</span><span class="ussItemTotal">@loItemView.ItemTotal</span></div>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 hidden-xs text-right"><span class="ussItemPrice">@loItemView.ItemPrice</span></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3 text-center">
                <div class="text-right">@loItemView.Quantity</div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs text-right"><span class="ussItemTotal">@loItemView.ItemTotal</span></div>
        }


        <div class="clearfix"></div>
        <hr class="ussItemDivider" />
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
            &nbsp;
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
            <div class="ussName">Shipping<div>Please select shipping method so you can place your order. (<a href="javascript:$('#udCartShippingPopUpContainer').modal();">More info</a>)</div></div>
            <div class="ussDescription">
                <ul class="list-unstyled">
                    @for (int lnST = 0; lnST < Model.ShippingTypeList.Count; lnST++)
                    {
                        var loShippingTypeEntity = Model.ShippingTypeList[lnST];
                        if (loShippingTypeEntity.ShippingType.Equals(Model.ShippingType))
                        {
                            <li>@loShippingTypeEntity.Name</li>
                        }
                    }
                </ul>
            </div>

        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 text-right"><span class="ussItemTotal">@Model.ShippingTotal</span></div>




        <div class="clearfix"></div>
        <hr class="ussItemDivider" />
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 text-right">Total</div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 text-right">@Model.Total</div>
    </div>
}

<div class="modal fade" id="udCartShippingPopUpContainer" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <h3>What are my options for shipping?</h3>

            <p>
                Note: Some options are not available for certain models due to restrictions. Call us at 260-225-3429 for details.

                For more detailed info regarding shipping, visit our <a target="_blank" href="//tractortoolsdirect.com/shipping-2/">Shipping Page</a>.
            </p>

            <h3>Cheapest: “Pick Up”</h3>

            <p>Sits reserved in our warehouse until you're able to come and get it. Check with us for dimensions to ensure it will fit in your trailer or pickup bed and come prepared with some heavy duty straps!</p>

            <h3>Cheaper: “Commercial location (has dock or forklift)”</h3>

            <p>Ships to the nearest Old Dominion Freight Line service center (Service Center Locator) or any business with a loading dock or forklift that is open during normal business hours. Farms are typically not considered commercial locations by freight companies.</p>
<!--
            <h3>Easier: “Residence or farm with dock or forklift”</h3>

            <p>Delivered to your door, unless you live in a remote area inaccessible by a freight truck. The truck will not have a lift gate, so you must have a forklift or loader forks. Please be sure that your lift has adequate capacity for the load!</p>
    -->
            <h3>Easiest: “Residence or farm with lift gate service”</h3>

            <p>Delivered to your door and lowered to the ground on a hydraulic lift attached to the truck. If you don’t have a forklift or loader forks to unload your purchase, choose this option. The driver will work with you to figure out the best place to drop the item.</p>

        </div>
    </div>
</div>