@model MaxFactry.Module.Catalog.PresentationLayer.MaxCategoryViewModel

<h1>Category Management</h1>
<div>@ViewBag.Message</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Create Category</legend>
        @Html.EditorFor(m => m.CatalogId, additionalViewData: new { LabelColumnWidth = 2, InputControl = Html.DropDownListFor(m => m.CatalogId, new SelectList(Model.CatalogList, "Id", "Name", Model.CatalogId), new Dictionary<string, object> { { "class", "form-control" } }) })
        @Html.EditorFor(m => m.Name, additionalViewData: new { LabelColumnWidth = 2 })
        @Html.EditorFor(m => m.Active, additionalViewData: new { LabelColumnWidth = 2, IsCheckBox = "true" })
        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <div class="input-group">
                        <button type="submit" name="uoProcess" value="@MaxManageController.ProcessCancel" class="btn btn-default">Cancel</button>
                        <button type="submit" name="uoProcess" value="@MaxManageController.ProcessCreate" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
}

@{
    var loList = Model.GetSortedList();
    if (loList.Count > 0)
    {
    <table class="table-bordered table-condensed">
        <thead>
            <tr>
                <th>Action</th>
                <th>Category Path</th>
                <th>Relative Order</th>
                <th>Active?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loView in loList)
            {
                <tr>
                    <td>@Html.ActionLink("Edit", "CategoryEdit", "MaxCatalogManage", new RouteValueDictionary { { "id", loView.Id } }, new Dictionary<string, object> { { "class", "btn btn-default" } }) 
                    @Html.ActionLink("View", "Category", "MaxCatalog", new RouteValueDictionary { { "id", loView.Id } }, new Dictionary<string, object> { { "class", "btn btn-default"}, {"target", "_blank" } })</td>
                    <td>@Html.Raw(loView.Path.Replace(loView.PathSeparator, "<span style='color:red;'>/</span>"))</td>
                    <td>@loView.RelationOrder</td>
                    <td>@loView.Active</td>
                </tr>
            }
        </tbody>
    </table>
}
}

<style>
    .ussCategorySeparator {
        font-weight: bold;
        color: red;
    }
</style>

@section ScriptSection
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tooltipactive').tooltip({ container: 'body' });
        });
    </script>

}