@model MaxFactry.Module.Catalog.PresentationLayer.MaxDiscountCodeViewModel

<h1>Discount Code Management</h1>
<div>@ViewBag.Message</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        <fieldset>
            <legend>Create Discount Code</legend>
            @Html.EditorFor(m => m.Name, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.Description, additionalViewData: new { LabelColumnWidth = 2, InputControl = Html.TextAreaFor(m => m.Description, new Dictionary<string, object> { { "class", "form-control" } }) })
            @Html.EditorFor(m => m.InternalNote, additionalViewData: new { LabelColumnWidth = 2, InputControl = Html.TextAreaFor(m => m.InternalNote, new Dictionary<string, object> { { "class", "form-control" } }) })
            @Html.EditorFor(m => m.Calculation, additionalViewData: new { LabelColumnWidth = 2, InputControl = Html.DropDownListFor(m => m.Calculation, new SelectList(Model.CalculationList, "Key", "Value", Model.Calculation), new Dictionary<string, object> { { "class", "form-control" } }) })
            @Html.EditorFor(m => m.ReferType, additionalViewData: new { LabelColumnWidth = 2, InputControl = Html.DropDownListFor(m => m.ReferType, new SelectList(Model.ReferTypeList, "Key", "Value", Model.ReferType), new Dictionary<string, object> { { "class", "form-control" } }) })
            @Html.EditorFor(m => m.Group, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.AmountOff, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.PercentOff, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.Code, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.StartDate, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.EndDate, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.CategoryIdListText, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.ProductIdListText, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.ProductSkuListText, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.UserIdListText, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.UsernameListText, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.MinimumAmount, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.MaximumAmount, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.MinimumQuantity, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.MaximumQuanitity, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.UseCount, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.UsedCount, additionalViewData: new { LabelColumnWidth = 2 })
            @Html.EditorFor(m => m.IsFreeShipping, additionalViewData: new { LabelColumnWidth = 2, IsCheckBox = "true" })
            @Html.EditorFor(m => m.IsUseAlways, additionalViewData: new { LabelColumnWidth = 2, IsCheckBox = "true" })
            @Html.EditorFor(m => m.Active, additionalViewData: new { LabelColumnWidth = 2, IsCheckBox = "true" })
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="input-group">
                            <button type="submit" name="uoProcess" value="@MaxManageController.ProcessCancel" class="btn btn-default">Cancel</button>
                            <button type="submit" name="uoProcess" value="@MaxManageController.ProcessCreate" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </div>
</fieldset>        
    }

@{
    var loList = Model.GetSortedList();
    if (loList.Count > 0)
    {
    <table class="table-bordered table-condensed">
        <thead>
            <tr>
                <th>Action</th>
                <th>Name</th>
                <th>Description</th>
                <th>Code</th>
                <th>Is Active?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loView in loList)
            {
                <tr>
                    <td>@Html.ActionLink("Edit", "DiscountCodeEdit", "MaxCatalogManage", new RouteValueDictionary { { "id", loView.Id } }, new Dictionary<string, object> { { "class", "btn btn-default" } })</td>
                    <td>@loView.Name</td>
                    <td>@loView.Description</td>
                    <td>@loView.Code</td>
                    <td>@loView.Active</td>
                </tr>
            }
        </tbody>
    </table>    
}
}
@section ScriptSection
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tooltipactive').tooltip({ container: 'body' });
        });
    </script>

}