@model MaxFactry.Module.Catalog.PresentationLayer.MaxProductFileViewModel
@{
    Html.MaxIncludeClientTool("JQuery");
}

@{
    ViewBag.MetaKeywords = "cms, efactory, maxfactry";
    ViewBag.MetaDescription = "Portal home page for eFactory Solutions Web App platform based on MaxFactry framework.";
    ViewBag.HeadTitle = "eFS Web App Portal - ";
}

@using (Html.BeginForm("ProductFile", "MaxCatalogManage", FormMethod.Post, new Dictionary<string, object> { { "role", "form" }, { "enctype", "multipart/form-data" } }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <fieldset>
        <legend>Upload Product Related File</legend>
        <div class="row">
            <div class="form-group">
                <label for="laFile" class="control-label col-sm-1">Files</label>
                <div class="input-group">
                    <div class="col-sm-11">
                        <input type="file" name="laFile" multiple="multiple" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11">
                    <div class="input-group">
                        <button type="submit" name="uoProcess" value="@MaxManageController.ProcessCancel" class="btn btn-default">Cancel</button>
                        <button type="submit" name="uoProcess" value="@MaxManageController.ProcessCreate" class="btn btn-primary" disabled="disabled">Upload</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                @if (null != ViewBag.LogInfo)
                {
                    <pre>@Html.Raw(ViewBag.LogInfo)</pre>
                }
            </div>
        </div>
    </fieldset>
}

@{
    var loList = Model.GetSortedList();
    if (loList.Count > 0)
    {
        <div class="row">
            <div class="col-sm-12">
                <table class="table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Upload Name</th>
                            <th>Upload Date</th>
                            <th>Name</th>
                            <th>Content Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var loView in loList)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink("Edit", "ProductFileEdit", "MaxCatalogManage", new RouteValueDictionary { { "id", loView.Id } }, new Dictionary<string, object> { { "class", "btn btn-default" } })

                            </td>
                            <td>@loView.FileName</td>
                            <td>@loView.CreatedDate</td>
                            <td>@loView.Name</td>
                            <td>
                                <a href="@loView.ContentUrl" target="_blank">Content</a>
                                <a href="/MaxCatalog/ProductFile/@loView.Id" target="_blank">Request Form</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Pop Up Url</td>
                            <td colspan="3">javascript:pfProductFilePopup('@loView.Id')</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
<script>
    jQuery("input[name='laFile']").change(function () {
        jQuery(".btn-primary").attr('disabled', false);
    });
</script>
